<div class="ls-chile-container">
  <div class="status-bar">
    @for(v of VOWELS; track v; let i = $index) {
      <div class="dot" [class.active]="i === currentIndex()" [class.done]="i < currentIndex()">
        {{ v }}
      </div>
    }
  </div>

  <div class="reference-box">
      <img [src]="currentLevel().image" [alt]="'Cómo hacer la ' + currentLevel().letter">
      <p>Copia esta posición</p>
    </div>

  <div class="camera-card" [class.win]="isCorrect()">
    <video #videoElement autoplay playsinline muted></video>
    <canvas #canvasElement></canvas>

    <div class="instruction-overlay">
      Haz la letra <span>{{ VOWELS[currentIndex()] }}</span>
    </div>

    @if(isCorrect()) {
      <div class="win-msg">¡Bacán! 🇨🇱✨</div>
    }
  </div>

  <div class="hint-box">
    LSCh - Lengua de Señas Chilena
  </div>
</div>
